/*Selector Universal*/

* {
    padding: 0;
    margin: 0;
}

/* selector de etiquetas*/

body {
    background-color: #f1ecea;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.xtrafondos.com/descargar.php?id=6859&resolucion=2560x1440.jpg);
}

/*Selector de Clases*/

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(255, 255, 255);

}

.grid-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las imágenes */
    align-items: center; /* Alineación vertical al centro */
    padding: 20px; 

}

.img{
   max-width: 33%; /* Cada imagen ocupa un tercio del contenedor */
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin distorsionar la proporción */
    height: auto;
}

.encabezado-articulo{
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 1em ;
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 1em 2em;
    font-size: 25px;
}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0,25px;
}

.lista-aside{
    padding: 1px;
}

.lista-aside li{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    list-style: square;
    color:#000;

}

/* selector id*/

#Dimension{
    width: 900px;
    height: 1000px;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
    margin: 0 auto;
}

#encabezado{
    height: 15%;
    background-color: #3a251c;
    color: white;
}

#menu{
    height: 5%;
    background-color: #b46424;
}

#Seccion{
    height: 80%;
    width: 64%;
    background-color: #362f2f;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion{
    height: 80%;
    width: 35%;
    background-color: #b58c7c;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;

}

#pie{
    height: 10%;
    background-color:  #3a251c;
    text-align: center;
}

#pie h4{
    padding: 15px;
    font-size: 30px;

}

/* Selector de Etiquetas*/

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 2px;
    margin: 10px;
}

li a:hover{
    color:crimson;
    text-decoration: none;
    list-style: none;
}